h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    background-color: black;
    margin-left: 30px;
  }
  div{
    color: brown;
    font-size: small;
    font-family: Impact;
  }
  h2{
    color: aqua;
    font-family: 'Times New Roman';
  }
  h3{
    color: purple;
  }
  a{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    border-style: inset;
  }